@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap&#39;);
*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 20px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #02010E;
}

.conteudo-principal{
    color: white;
    width: 65%;
    height: 100%;
    margin: 60px auto 0px auto;
}

.titulo-principal{
    margin-bottom: 30px;
    font-size: 1rem;
}

.botoes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao{
    cursor: pointer;
    border: 0;
    border-bottom: 5px solid #3a375e;
    width: 25%;
    padding: 30px;
    background-color: #201d3b;
    color: white;
}



#hover{
    border-bottom: 5px solid #6FFF57;
    background-color: #3a375e !important;
}

.botao--first{
    border-top-left-radius: 30px;
}

.botao--last{
    border-top-right-radius: 30px;
}

.Tcontent{
    text-align: center;
    margin-top: 50px;
}

.Tcontent h2{
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: .65rem;
    color: #6FFF57;
}

.conteudo{
    background-color: #161429;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 150px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.timer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.date{
    text-align: center;
}

.date .number{
    font-size: 3.5rem;
}

.date .desc{
    font-size: 1rem;
    font-weight: normal;
    color: #6FFF57;
}